<div class="main-content">
  <div class="row p-3 mx-auto">
    <div class="card col-3 mr-5" *ngFor="let product of products">
      <div class="card-header card-header-info">
        <h4 class="card-title">
          <img
            class="img-thumbnail img-product"
            src="{{'data:image/jpg;base64,' + product.photo}}" 
          />
        </h4>
        <p class="card-category">{{product.name}}</p>
      </div>
      <div class="card-body">
        <span>{{product.description}}</span>
      </div>
      <div class="card-footer">
        <div class="mx-auto">
          <button class="btn btn-info" (click)="updateStatus(product.id, 2)">Aprovar</button>
          <button class="btn btn-danger" (click)="updateStatus(product.id, 3)">Reprovar</button>
        </div>
      </div>
    </div>
  </div>
</div>
